
@import url('https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Georgia', serif;
}

code,
code *,
textarea {
  font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

pre {
  background-color: $gray-lightest;
  padding: 5px;
  border-radius: 3px;
}
