
.editor-container {
  margin: 0 10px;
  margin-bottom: 10px;
}

.editor {
  padding: 10px;
  outline: none;
  resize: none;
  border: 1px solid $gray;

  &:focus,
  &:active {
    box-shadow: inset 0 0 10px $gray;
  }
}
