
.preview-container {
  margin: 0 10px;
  margin-bottom: 10px;
}

.preview {
  border: 1px solid $gray;
  padding: 10px;
}

.code {
  white-space: pre-wrap;
  font-family: 'Source Code Pro', monospace;
}
