
// colors
$black:           rgb(0, 0, 0);
$gray-dark:       lighten($black, 45%);
$gray:            lighten($black, 67%);
$gray-light:      #ddd;
$gray-lighter:    #e9e9e9;
$gray-lightest:   #f9f9f9;
$white:           white;
