
.preview-container {
  flex-basis: 50%;
}

.preview-container h1 {
  line-height: 2rem;
}

.preview {
  border: 1px solid green;
  padding: 10px;
  min-height: 500px;
}

pre {
  background-color: #eee;
  padding: 5px;
  border-radius: 3px;
}
